body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"], input[type="submit"] {
    padding: 5px;
    font-size: 16px;
}

.lembrete {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .lembrete span {
        margin-right: 10px;
    }

    .lembrete button {
        background-color: #ff0000;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

